@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Work+Sans:wght@400;500;600&display=swap');

nav {
    background-color: darkslategray;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}